.container  {
    width: 100%;
}

section {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #444;
}

.block {
    width: 75px;
    height: 75px;
    margin: 25px;
    border: 2px solid #333;
}

.active {
    background: orange;
}

.hide {
    display: none;
}

.keyboard {
    margin-top: 20px;
}

.span {
    font-weight: bold;
    padding: 10px;
    border: 2px solid #333;
    margin: 0.7px;
    border-radius: 3px;
}

.keyboardRow {
  margin-top: 20px;;
}

.active {
    background-color: darkgrey;
}